* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  color: var(--WHITE);
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  all: unset;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}
