:root {
  // Primary Colors
  --PURPLE-10: #35189c;
  --PURPLE-20: #5431d0;
  --PURPLE-30: #653df5;
  --PURPLE-40: #4d20ef;
  --PURPLE-50: #3401ee;

  // Auxiliary Colors
  --BROWN: #80440d;
  --YELLOW: #e9c300;
  --WHITE: #fff;
  --BLACK: #000;
  --BLUE: #0073ce;

  // Gray colors
  --GRAY-900: #0a0b0d;
  --GRAY-800: #393b42;
  --GRAY-700: #5c5f69;
  --GRAY-600: #787c87;
  --GRAY-500: #979ba6;
  --GRAY-400: #abafba;
  --GRAY-300: #c0c3cc;
  --GRAY-200: #dfe1e8;
  --GRAY-100: #f5f6fa;
}
